
.cardd {
  margin-top: 1.5em;
  width: 75%;
  padding: 2.5em 1.0em 0.5em;
  border-radius: 3em;
  background-color: rgb(241, 229, 59);
  text-align: center;
  box-shadow: 0 5px 1px rgba(28, 230, 89, 0.979);
}
.cardd img {
  width: 55%;
  border-radius: 50%;
  margin: 0 auto;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}
.cardd .card-title {
  font-weight: 700;
  font-size: 1.5em;
  
}
.cardd .btn {
  border-radius: 2em;
  background-color: teal;
  color: #ffffff;
  padding: 0.5em 1.5em;
}
.cardd .btn:hover {
  background-color: rgba(238, 231, 229, 0.7);
  color: #ffffff;
  box-shadow: 0 0 10px rgba(197, 69, 69, 0.2);
}