
.cardd {
   
  border-radius: 15%;
  background-color: rgb(177, 184, 184);
  text-align: center;
  box-shadow: 0 8px 3px rgba(28, 230, 89, 0.979);
  margin-top: auto;
  margin-left: 10px;
  margin-right: 10px;
  padding-top: 30px;
  padding-right: auto;
  padding-left: auto;
  
}
.cardd img {
  width: 50%;
  border-radius: 25%;
  margin: auto;
 
}
.cardd .card-title {
  text-transform: uppercase;
  margin: 0;
  
}
