.dashboard-container {
  padding: 20px;
  font-family: Arial, sans-serif;

  /* Ajustes essenciais */
  margin-top: 90px; /* empurra para baixo por causa do Navbar */
  padding-bottom: 120px; /* evita o footer ficar por cima do conteúdo */
  min-height: calc(100vh - 200px); /* mantém conteúdo ocupando a tela */
}

/* LOADING */
.loading-container {
  display: flex;
  justify-content: center;
  margin: 10px 0;
}

/* TOPO */
.top-bar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 15px;
}

.btn-space {
  margin-right: 10px;
}

/* DIALOGS */
.dialog-content {
  min-width: 350px;
}

.file-input-row {
  margin-top: 12px;
  display: flex;
  align-items: center;
  gap: 10px;
}

/* PREVIEW IMAGEM */
.preview-img-container {
  margin-top: 12px;
}

.preview-img {
  width: 120px;
  height: 120px;
  border-radius: 8px;
  object-fit: cover;
}

/* INPUT DE PESQUISA */
.search-box {
  margin-bottom: 15px;
}

/* TABELA */
.table-img {
  width: 70px;
  height: 70px;
  border-radius: 8px;
  object-fit: cover;
}

/* PAGINAÇÃO */
.pagination-area {
  display: flex;
  justify-content: center;
  padding: 10px 0;
}
