.dashboard-container {
  padding: 70px 20px 20px 20px; /* mais espaço em cima */
  background-color: #f5f5f5;
  min-height: 55vh;
}


/* Top bar com ícones */
.top-bar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 30px; /* espaço maior do topo */
  padding: 35px 20px;
  background-color: #faaeae;
  border-radius: 18px;
  box-shadow: 0 2px 57px rgba(0,0,0,0.1);
  height: 80px;
}

.top-bar h2 {
  margin: 0;
  font-size: 22px;
}

.top-bar-icons {
  display: flex;
  gap: 10px;
}

/* Caixa de busca */
.search-box {
  margin-bottom: 15px;
}

/* Tabela */
.MuiTable-root {
  background-color: #f6f2f2;
  border-radius: 8px;
  overflow: hidden;
  box-shadow: 0 2px 10px rgba(0,0,0,0.05);
}

.table-header {
  background-color: #faaeae; /* cor do cabeçalho */
}

.table-header th {
  color: #954646;
  font-weight: bold;
  font-size: 16px;
  text-align: center;
}

.MuiTableCell-root {
  text-align: center;
  padding: 10px 8px;
  font-size: 14px;
  color: #333;
}

/* Linhas da tabela alternadas */
.MuiTableBody-root tr:nth-child(even) {
  background-color: #f9f9f9;
}

.MuiTableBody-root tr:hover {
  background-color: #ffe5e5;
}

/* Imagens na tabela */
.table-img {
  width: 80px;
  height: 80px;
  object-fit: cover;
  border-radius: 6px;
}

/* Inputs de arquivo e preview */
.file-input-row {
  display: flex;
  align-items: center;
  gap: 10px;
  margin-top: 10px;
}

.preview-img-container img {
  width: 140px;   /* maior preview */
  height: 140px;  /* maior preview */
  object-fit: cover;
  border-radius: 8px;
}

/* Paginação */
.pagination-area {
  margin-top: 20px;
  display: flex;
  justify-content: center;
}

/* Loading */
.loading-container {
  display: flex;
  justify-content: center;
  margin-top: 50px;
}

/* Inputs e botões */
.MuiTextField-root input {
  height: 45px;
  padding: 10px;
}

.MuiButton-root, .MuiIconButton-root {
  height: 40px;
}

.MuiButton-root {
  padding: 0 20px;
}
