/* Ajustes gerais do dashboard */
.dashboard-container {
  padding: 20px;
  background-color: #f5eff6;
  min-height: 100vh;
}

/* Top bar com ícones */
.top-bar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 30px;
  padding: 35px 20px;
  background-color: #faaeae;
  border-radius: 18px;
  box-shadow: 0 2px 57px rgba(0,0,0,0.1);
  height: 80px;
}

.top-bar h2 {
  margin: 0;
  font-size: 32px;
  
}

.top-bar-icons {
  display: flex;
  gap: 10px;
}

.search-box {
  margin-bottom: 10px;
}

.table-img {
  width: 70px;
  height: 70px;
  object-fit: cover;
  border-radius: 4px;
}

.file-input-row {
  display: flex;
  align-items: center;
  gap: 10px;
  margin-top: 10px;
}

.preview-img-container img {
  width: 120px;
  height: 120px;
  object-fit: cover;
  border-radius: 6px;
}

.pagination-area {
  margin-top: 55px;
  display: flex;
  justify-content: center;
}

.loading-container {
  display: flex;
  justify-content: center;
  margin-top: 50px;
}

/* Ajuste para inputs e botões */
.MuiTextField-root input {
  height: 45px;
  padding: 10px;
}

.MuiButton-root,
.MuiIconButton-root {
  height: 40px;
}

.MuiButton-root {
  padding: 0 20px;
}

/* Aumentar campos de descrição na tabela para melhor visualização */
.MuiTableCell-root {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  max-width: 250px; /* ajuste para campos maiores */
}

.MuiTableCell-root img {
  display: block;
  margin: 0 auto;
}
